/* 
    Document   : mycss
    Created on : 06/09/2013, 1:36:44 PM
    Author     : Farida 
    Description:
        Purpose of the stylesheet follows.
*/

/* These are here to override "user-agent" stylesheets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*General body style*/
html, body{
	width: 100%;
	height: 100%;
	background-color: #F7F7F7;
}
body{	
	font-size: 9pt;
	font-family: Arial, Helvetica, Sans-serif;
}

#wrapper {
	min-height:100%;
	position:relative;
}

/*Header style starts*/
#header{
	height: 90px;
	background-color: #8330A3;
}

/*The content of the header style*/
#header-inner{
	width: 900px;
	margin: 0 auto;
}

#header-img img{
	width: 150px;
	margin-top: 20px;
	border-right: 1px solid white;
}

#header-img{
	float:left;
}

#header-heading{
	float:left;
	margin-top: 30px;
	margin-left: 30px;
}

#header-heading h1{
	font-size: 18pt;
	color: white;
}

/*Header style ends*/

/*Navbar style starts*/
#navbar{
	height: 40px;
	background-color: black;
}

#navbar-inner{
	width: 900px;
	margin: 0 auto;
}

#navbar-left{
	float: left;
}

#navbar-right{
	float: right;
}

#navbar ul{
	list-style-type: none;
}

#navbar li{
	float:left;
}

#navbar a, .notLink{
	text-decoration: none;
	color: white;
	font-size: 10pt;
	padding: 10px;
	display: block;
	text-align: center;
}

#navbar a:hover{
	background-color: #8330A3;
	border-bottom: 3px solid white;
}

/*Navbar style ends*/

/*Footer style start*/
#footer{
	background-color: #8330A3;
	height: 35px;
	position:absolute;
	width: 100%;
	bottom:0;
	left:0;
}

#footer-inner{
	width: 900px;
	margin: 0 auto;
	color: white;
	text-align: center;
	padding: 10px 0;
	
}
/*Footer style ends*/

/*Content style starts*/
#content{
	padding-bottom: 35px;
	height:auto;
	background-color: #F7F7F7;
}


/*Defining the working div content*/
#content-inner{
	width: 900px;
	margin: 10px auto 0;
	text-align: center;
	background-color: #F7F7F7;
}

#content-inner p{
	margin: 10px 0;
}

#content-inner h1{
	font-weight: bold;
	font-size: 18pt;
	margin: 10px 0 20px;;
}

#content-inner h2{
	font-weight: bold;
	font-size: 14pt;
	margin: 10px 0 20px;;
}

#content-inner h3{
	font-weight: bold;
	font-size: 11pt;
	margin: 0;
}

#content-inner a{
	color: #157FAC;
	text-decoration: none;
	font-weight: bold;
}

#content-inner a:hover{
	color: #B712AA;
}

/*Form inside the content div style*/
#content-inner form{
	display: inline-block;
    text-align: left; 
	margin-bottom: 10px;
}

#content-inner form label{
	display: inline-block;
	width: 100px;
}

#content-inner form label.smallerLabel{
	display: inline-block;
	width: 83px;
}

#content-inner form  input[type="text"], #content form  input[type="password"]{
	width: 250px;
}

#content-inner form input[type="text"].smallerField{
    width: 150px;
}

#content-inner form  textarea{
	width: 250px;
	height: 100px;
	vertical-align: top;
}

#content-inner form input[type="submit"]{
	padding: 4px 9px;
	color: rgb(68, 68, 68);
	font-size: 95%;
	text-shadow: 0px 1px 0px rgb(238, 238, 238);
	background: -moz-linear-gradient(100% 100% 90deg, rgb(222, 222, 222), rgb(249, 249, 249)) repeat scroll 0% 0% transparent;
	border: 1px solid #CCCCCC;
	display: inline-block;
	box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3) inset;
	width: 70px;
}

#content-inner form input[type="submit"].submitBelow{
	margin-left: 289px;
}

#content-iner form select{
	width: 250px;
}

#content-inner .submitTwoBelow{
	margin-left: 217px;
}

#content-inner form input:focus, #content-inner form textarea:focus {
	-moz-box-shadow: 0 0 5px #54A4FF;
	-webkit-box-shadow: 0 0 5px #54A4FF;
	box-shadow: 0 0 5px #54A4FF ;	
}

#content-inner ul{
	margin-left: 30px;
	text-align: left;
}

#content-inner table.regular{
	display: inline-block;
	margin: 10px 0 20px;
	border-collapse:collapse;
}

#content-inner table.regular th{
	background-color: #CCCCCC;
	padding: 5px 10px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
}

#content-inner table.regular td{
	padding: 5px 10px;
	border: 1px solid #CCCCCC;
}

#content-inner table.regular tr.even{
	background-color: #F7F7F7;
}

/*Content announcement list*/
#content-inner ul.announcement-list{
	list-style-type: none;
	padding: 10px;
}
#content-inner ul.announcement-list li{
	text-align: left;
	margin-left: 30px;
        border-bottom: 1px dotted black;
}

#content-inner ul.announcement-list li:last-child{
	border: 0;
}

.date{
	color: #767676;
	font-size: 8pt;
}

/*Content link list*/
#content-inner ul.link-list{
	list-style-type: none;
	padding: 10px;
}

#content-inner ul.link-list li{
	text-align: left;
	padding: 5px 0;
	border-bottom: 1px dotted black;
}

#content-inner ul.link-list li:last-child{
	border: 0;
}

#content-inner ul.link-list li a{
	text-decoration: none;
	color: black;
	font-weight: normal;
}

#content-inner ul.link-list li a:hover{
	text-decoration: underline;
}

/*Search result list*/
#content-inner ul.result-list{
	list-style-type: none;
	margin-left:0;
}

#content-inner ul.result-list li{
	text-align: left;
	border-bottom: 1px dotted black;
}

#content-inner ul.result-list li:last-child{
	border: 0;
}

#content-inner ul.result-list img{
	height: 100px;
}

#content-inner ul.result-list li a{
	text-decoration: none;
	font-weight:normal;
	color: black;
	display: block;
	padding: 5px;
}

#content-inner ul.result-list li a:hover{
	background-color: #EEEEEE;
}

#content-inner ul.result-list .result-img img{
	height: 90px;
	width: 90px;
	padding: 5px;
}
#content-inner ul.result-list .result-img{
	float:left;
}
#content-inner ul.result-list .result-desc{
	margin-left: 120px;
	min-height: 100px;
}

/*Detail description view*/
#content-inner .detail-desc{
	min-height: 220px;
}

#content-inner  img.detail-img{
	width: 200px;
	height: 200px;
	padding: 10px;
	padding-top: 0px;
	float:left;
}

#content-inner ul.detail-list{
	list-style-type: none;
	margin-left: 230px;
	margin-right: 10px;
	padding-top: 20px;
}

#content-inner ul.detail-list li{
	line-height: 1.8em;
}

#content-inner img.detail-related{
	width: 100px;
	height: 100px;
	padding: 5px;
}

#content-inner .detail-related-link{
	float:left;
	height:150px;
	padding: 5px;
	width:100px;
}

/*Content header style*/
#content-inner .content-header{
	background-color: #6A2885;
}

#content-inner .content-header h3{
	padding: 5px;
	color: white;
}

#content-inner .content-center{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	margin-bottom: 10px;
	background-color: white;
}

#content-inner .content-full{	
	clear: both;
}

/*Div content with about 1/4 width and float left*/
#content-inner .content-left{	
	float:left;
	width:250px;
	padding: 0;
}

/*Div content with about 3/4 width and float right*/
#content-inner .content-right{
	width: 640px;
	margin-bottom: 10px;
	margin-left: 260px;
}

/*Special classes*/
a.create{
    background-color: #8330A3;
    color: white;
    font-weight: bold;
    text-decoration: none; 
    display: inline-block;
    padding: 20px;
    margin: 10px;
}
a.create:hover{
    background-color: black;
}
   
/*Error message style*/
.errorMsg{
	color: red;
}

/*Different status style*/
.ready{
	color: #008000;
}

.completed{
	color: #000080;
}

.rejected{
	color: red;
}

/*Content style ends*/
