/* These are here to override "user-agent" stylesheets */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/***typogrophy ****/

h1{margin:0 0 15px 0;padding:0;font:normal 32px Arial,Helvetica,sans-serif;color:#222}
h1 a,h3 a{text-decoration:none;color:#222;border-bottom:none}
h1 a:hover,h3 a:hover{text-decoration:none}
h2{margin:0;padding:5px 0 0 0;line-height:150%;color:#222;font:normal 22px Arial,Helvetica,sans-serif}
h2 a{color:#222;text-decoration:underline}
h2 a:hover{text-decoration:none}
h3{margin:0;padding:0;color:#222;font:normal 26px Arial,Helvetica,sans-serif}
h3 a{color:#222;text-decoration:none}
h4{margin:0;padding:5px 0;font:normal 18px Arial,Helvetica,sans-serif;color:#330033}
h5{margin:0;padding:5px 0;font:bold 16px Arial,Helvetica,sans-serif;color:#222}
h6{margin:32px 0 12px 0;padding:0;line-height:150%;color:#222;font:normal 18px Arial,Helvetica,sans-serif;border-top:4px solid rgb(224,224,224)}
sub {vertical-align: sub; font-size: smaller}
sup {vertical-align: super; font-size: smaller}

/***** Styling of a tags 

a:link {color: #Unvisited link color; text-decoration: none; }
a:active {color: #Selected link color; text-decoration: none; }
a:visited {color: #Visited link color; text-decoration: none; }
a:hover {color: #Link color by mouseover; text-decoration: none; }

/**

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}
ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

****/

/* User-aget override end */


body{
	background-image: url(../images/cardboard_flat.png);	
	margin: 0 auto;
	height: auto;
	display: block;
}

/**h3{
	margin:0 0 0 0;
}**/


.header{
margin: 0;
padding: 0;
background: #60227c url('../images/bodybg.gif') repeat-x scroll 0 0;
color: rgb(239,239,239);
height: 100px;
}

#header-inner, #topnav-inner{
margin: 0 auto;
padding: 0pt;
width: 1000px;
}

#header-inner h1{
margin: 26px 0 0 500px;
z-index: 9999;
position: absolute;
color: white;
}

#header-inner a {
   margin: 26px 0 0 25px;
text-indent: -9999px;
z-index: 9999;
position: absolute;
color: white;
background: url('../images/uq-logo.gif') no-repeat scroll 0 0;
display: block;
height: 50px;
text-decoration: none;
width: 182px;
}

#topnav {
margin: 0;
padding: 20px 0;
background: #000 none;
color: #fff;
font-size: 11px;
font-family: Helvetica,"Trebuchet MS",sans-serif;
font-weight: lighter;

}

#topnav-inner #menu ul, #topnav-inner #usera ul{
	margin: 0;
	padding: 10px 0;
	list-style-type: none;
	list-style-image: none;
}


#topnav-inner #menu li{
    display:inline-block;
    padding-right: 100px;
}

#topnav-inner #menu{
    float:left;
}

#topnav-inner #usera{
    float:right;
}

#topnav-inner #usera li{
    display:inline-block;
    padding-left: 100px;
    
}

#topnav-inner li a{
    color: white;
    text-decoration: none;
}

#topnav-inner li a:hover {
color: #f5e1ff;
text-decoration: none;
background: transparent url('../images/top_nav_bg_active.gif') repeat-x scroll 100% 100%;
border-bottom: 1px solid #e5e5e5;
}



#main
{
	width: 1000px;
	margin: 0 auto;
	height: auto;
	display: block;
}

/****** Navigation 


***/

.navigation_bar{
	margin:15px 0 15px 0;
	height:60px;
}

ul#navbar{margin:0; padding:0; list-style:none; clear:both;}
		#navbar li{overflow:hidden; text-indent:-9999px; display:inline; float:left; margin-right:10px;}
			#navbar li a{background:url('../images/navigation_21.png') no-repeat; width:100%; height:100%; display:block;}
			
			/* Home Button */
			#navbar li.home{width:115px; height:50px; margin-right: 50px;}
				#navbar li.home a{background-position:-2px -2px;}
				#navbar li.home a:hover{background-position:-2px -75px;}
				#navbar li.home a.selected{background-position:-2px -145px;}
			
			/* About Button */
			#navbar li.about{width:120px; height:50px; margin-right: 50px;}
				#navbar li.about a{background-position:-122px -2px;}
				#navbar li.about a:hover{background-position:-122px -75px;}
				#navbar li.about a.selected{background-position:-122px -145px;}

				
			/* Contact Button */
			#navbar li.contact{width:160px; height:50px;}
				#navbar li.contact a{background-position:-247px -2px;}
				#navbar li.contact a:hover{background-position:-247px -75px;}
				#navbar li.contact a.selected{background-position:-247px -145px;}

/********* Logout  *********/

.logout{
	float: right;
	padding-right: 165px;
	font-family: custom_font;
	font-size: 20px;
}


/**** items main page *****/

div#itemgrid
{
	position:relative;
	max-width: 800px;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 50px;
}


img.itemimg
{
	height: 5em;
	padding: 0 15px 0 0;
	position: center;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	clear: both;
}

@font-face{
	font-family: custom_font;
	src: url('../css/custom_font.ttf');
}

.itemname {
	font-family: custom_font;
	float: left;
	margin:5px 0 0 5px;
	clear: both;
	position: absolute;
	font-size: x-large;
}

div.itemdisplay
{
	z-index: 100;
	float: left;
	width: 228px;
	height: 9em;
	overflow: hidden;
	text-align: center;
	position: absolute;
	background: white;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

div#a1.itemdisplay{
	margin-left: 80px;
}

div#a2.itemdisplay{
	margin-left: 160px;
}

div#a3.itemdisplay{
	margin-left: 240px;
}




p.itemdesc{
	margin:45px 0 0 5px;
	text-align: left;
	font-family: Helvetica;
	font-size: 12px;
	clear: both;
}


div#shadow
{
	z-index: 250;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: black;
	opacity: 0.5;
	zoom: 1;
}

div#orderpanel
{
	position: relative;
	max-width: 500px;
	margin-left: 1000px;
	margin-right: 0px;
	
}

.itemquantity{
	margin-top: 10px;
	float: left;
}

.addbutton{
	float: left;
	margin-top: 7px;
	padding-left: 3px;
	background:#FF5DB1;
	
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	
	-webkit-border-radius:4px;
	border:1px solid #E8124F
}


h2#ordertitle{
	font-family: custom_font;
	font-size: x-large;
}

.footer {
		border-top:1px solid red;
	   position:fixed;
	   left:0px;
	   bottom:0px;
	   height:120px;
	   width:100%;
	   background: grey;
   /**background:#999;**/
}

.footer_wrapper{
	width: 970px;
	margin: 0 auto;
	height: auto;
}

.footer_site_links{
	height: 200px;
	width:200px;
	float: left;
	padding: 20px 0 0 0;
}

h2.site_links_title{
	font-family: custom_font;
	font-size: x-large;
}

a.site_link_a{
	font-family: custom_font;
	font-size: small;
	clear: both;
}

.site_links_content{
	width: 60px;
}

.footer_social_network{

}

/****  Current order page *******/

.currentorder a{
	font-family: custom_font;
	
}

/*******  Item Description Page *******/

.itemtitle
{

}

.itemdescimage
{
	height: 350px;
}

.itemfulldesc
{

}

/* Paragraph stating which building the item can be collected from. */
.itemlocation
{

}

 /* Div containing all recommended items/projects. */
.recommendeddiv
{
	
}

/* Image for the recommended items. */
.recommendeditemimg
{
	max-width: 100px;
	max-height: 100px;
}